
<div class="welcome-wrapper">

  <p>
      This is Study Buddy, an exciting new way to learn. Study Buddy was designed by a teacher and written by a game developer
      for a fresh new approach to learning. Get your child prepared for school or caught up. No matter what the learning level
      or style, these courses were written to be both engaging and easy to understand.
    </p>
    
    <p>
      No more guessing what the instructions mean, get clear direction with plenty of help along the way. You and your child will
      fall in love with all the characters and their adventures in learning. Each character has their own unique story to help
      keep your kid curious and motivated. They will earn badges for completing each level.Badges can be used to unlock exciting 
      prizes and new levels to play through! Every level introduces new topics in a fun way. Each level is meant to slowly
      introduce new concepts in a gradual manner so there are no surprises, only new challenges. Every levels problems are
      randomly generated so every challenge will be new and different every time. 
    </p>
    
    <p>
      Learning can be fun again with Study Buddy. Give it a try with our free demo. There is no credit card required and no
      expiration date. Play it as many times as you want. When you're ready, sign up and give your child the head start they 
      deserve with Study Buddy.
    </p>

</div>

