

<div class="problem-wrapper" *ngIf="currentTypeProblem">

  <button class="new-problem-btn" mat-raised-button (click)="generateNextProblem()">New Problem</button>

  <div class="add-sub-mult-wrapper" *ngIf="currentTypeProblem === '+' || currentTypeProblem === '-' || currentTypeProblem === 'x'">

    <p class="problem-item" *ngFor="let prob of currentProblem; let i=index" [class.problem-underline]="i + 1 === currentProblem.length">{{prob}}</p>

    <p class="problem-item problem-type-pos">{{currentTypeProblem}}</p>

  </div>

  <div class="division-wrapper" *ngIf="currentTypeProblem ==='/'">

    <p class="round-division-message">Round your answer to the nearest hundredth</p>

    <span class="problem-item-division" *ngFor="let prob of currentProblem; let i=index">

      <span class="division-left" *ngIf="i + 1 !== currentProblem.length">{{prob}}</span> 
      <span class="division-right" *ngIf="i + 1 === currentProblem.length">{{prob}}</span>
    </span>

  </div>

  <mat-form-field>
    <input matInput placeholder="Put Your Answer Here" [(ngModel)]="userAttempt" (ngModelChange)="detectUserInput($event)">
  </mat-form-field>

  <button class="check-answer-btn" mat-raised-button color="primary" *ngIf="displayCheckAnswerButton" (click)="checkAnswer()">Check Your Answer</button>

</div>

<div class="correct-answer-wrapper" *ngIf="answerCorrect && displayAnswerMessage">

  <!-- <h1>You Got The Right Answer!!!</h1>

  <button class="new-problem-btn" mat-raised-button color="primary" (click)="closeDialog()">Awesome!</button> -->
  <app-prob-valid-modal [modalMessage]="modalMesage" [buttonLabel]="buttonLabel" [isValid]="answerCorrect" [buttonColor]="buttonColor">

  </app-prob-valid-modal>

</div>

<div class="wrong-answer-wrapper" *ngIf="!answerCorrect && displayAnswerMessage">

  <!-- <h1>That's Not Right... Try Again.</h1>

  <button class="new-problem-btn" mat-raised-button color="warn" (click)="closeDialog()">Ok...</button> -->
  <app-prob-valid-modal [modalMessage]="modalMesage" [buttonLabel]="buttonLabel" [isValid]="answerCorrect" [buttonColor]="buttonColor">
    
  </app-prob-valid-modal>

</div>
