

<div class="philosophy-wrapper">

  <p>
      Our goal is to better help students in seeking to comprehend math and its application to the world rather than 
      an effort to memorize numerical data and formulas. If personal connections are formed to the content the content 
      is both learned more quickly and not forgotten. The program centers on the philosophy that any math problem can be 
      solved if the individual understands the information that is given and the question that is being asked.
  </p>

</div>
