
<div id="menu-wrapper" *ngIf="isLogoVisible">

    <mat-toolbar color="primary">
  
      <div id="menu-width">
      <span class="logo-container">
        <span class="noSelect" routerLink="/landing"><mat-icon class="logo">assignment</mat-icon></span>
      </span>
  
    </div>
      
    </mat-toolbar>
  
  </div>

<div class="route-spacing">

    <router-outlet (activate)="componentAdded($event)"></router-outlet>

    <button class="navi" mat-raised-button (click)="openBottomSheet()">Navigation</button>

</div>