
.route-spacing{

    padding: 15px;
    height: calc(100% - 300px);
}

.headline {

    background-color: #673ab7;
    color: #fff;
    width: 100%;
    position: relative;
    text-align: left;
    z-index: -1;
    padding-right: 30px;
    padding-top: 6px;
    padding-left: 12px;
}

#menu-width{
    
    align-content: center;
}

.navi {

    margin: 0 auto;
    display: block;
    position: sticky;
    margin-top: 8%;
}

.logo-container {

    cursor: pointer;
}