
<div id="menu-wrapper" *ngIf="isLogoVisible">

    <mat-toolbar color="primary">
  
      <div id="menu-width">
      <span class="logo-container">
        <span class="noSelect" routerLink="/landing"><mat-icon class="logo">assignment</mat-icon></span>
      </span>
  
    </div>
      
    </mat-toolbar>
  
  </div>

<div id="router-wrapper" class="route-spacing">

    <router-outlet (activate)="componentAdded($event)"></router-outlet>

</div>

<button id="navigator" class="navi" mat-raised-button *ngIf="isNavVisible" (click)="openBottomSheet()">Navigation</button>

<!--[style.marginTop.px]="routerMarginTop" This might make the nav button look on all the screens-->