
.modal-message {

    text-align: center;
    padding-top: calc(7% - .1em);
    font-size: 1.3em;
    color: rgba(0,0,0,.87);
}

.adventure-wrapper {

    background-color: #fff;
    border-radius: 10px;
    margin-left: calc(5% - .1em);
    margin-right: calc(5% - .1em);
}

.story-wrapper {

    border-radius: 50px;
    background-color: #673ab7;
    height: 6em;
    width: 6em;
    display: inline-flex;
    margin-left: calc(14% - 0.1em);
    color: white;
    margin-bottom: calc(9% - 0.1em);
    margin-top: calc(6% - 0.1em);
}

.story-title {

    text-align: center;
    padding-top: 20%;
}

.adven-icon {

    display: block;
    margin: 0 auto;
    padding-top: calc(100% - 2.6em);
}

.select-story-btn {

    width: calc(100% - 5em);
    margin: 0 auto;
    display: block;
   
}

.select-btn-wrapper {

    padding-bottom: calc(4% - .1em);
}

.adventure-title {

    color: rgba(0,0,0,.87);
    text-align: center;
}

.selected-adv {

    @extend .story-wrapper;
    background-color: green;
}

.fade-out {

    -webkit-animation: fadeout .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout .5s; /* Firefox < 16 */
    -ms-animation: fadeout .5s; /* Internet Explorer */
    -o-animation: fadeout .5s; /* Opera < 12.1 */
    animation: fadeout .5s;


}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}