
.headline {

    background-color: #673ab7;
    color: #fff;
    width: 100%;
    position: relative;
    left: -15px;
    text-align: center;
    top: -36px;
    z-index: -1;
    padding-right: 30px;
}

.logo {

    font-size: 3em;
    width: 100%;
}

.headline-contents {

    padding-top: 9%;
    margin-right: -30px;
}

.header-title {

    padding-bottom: 5%;
    font-size: 1.3em;
}
// .landing-contents {

//     // height: calc(100% - 500px);
// }

// .landing-footer {

//     background-color: #673ab7;
//     color: #fff;
//     width: 100%;
//     position: relative;
//     // left: -15px;
//     text-align: center;
//     // top: -36px;
//     z-index: -1;
//     padding-right: 30px;
// }