
<h1 class="dash-title">Let's Begin</h1>

<div class="content-wrapper">

    <!-- <app-arithmetic></app-arithmetic> -->
    <div *ngIf="!adventureChosen">

        <app-adventure-modal (selectedAdventureEmit)="newAdventure($event)"></app-adventure-modal>

    </div>

    <!--Adventure maps below-->

    <div *ngIf="adventureName === 'chef'" class="chef-adventure-wrapper">

        <div class="lvl-container" *ngFor="let chef of chefMap">

            <div class="lvl-wrapper ">


            </div>

            <p>{{chef.title}}</p>

        </div>
        

    </div>

    <div *ngIf="adventureName === 'game-dev'" class="gameDev-adventure-wrapper">

        <app-arithmetic></app-arithmetic>

    </div>

    <div *ngIf="adventureName === 'music'" class="music-adventure-wrapper">

        <app-arithmetic></app-arithmetic>

    </div>

    <div *ngIf="adventureName === 'sports'" class="sports-adventure-wrapper">

        <app-arithmetic></app-arithmetic>

    </div>

</div>
